.image-notes-table, .image-notes-table th, .image-notes-table td
{
	border: 2px solid #666;
	border-collapse: collapse;
	font-size: 14px;
}

.image-notes-table th, .image-notes-table td
{
	padding: 10px;
}

.image-notes-table th
{
	background: rgb(140, 202, 105);
	font-size: large;
}

.image-notes-table img 
{
	width: 300px;
}